.contClientForm {
   position: absolute;
	margin: auto;                    
}
.f_clientForm {
   border: 1px solid rgb(84, 55, 165);
   background: #a5b2b9;   
   display: grid; 
   grid-template-areas: 
                       'fprivateInfo fpassportInfo contactInfo'
                       'fnotesInput fnotesInput contactInfo'
                       'fbuttonsInput fbuttonsInput fbuttonsInput';
   gap: 0px;
   height: 100%;  
   border-radius: 5px;
	-webkit-box-shadow: 0px 0px 50px 10px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 50px 10px rgba(0,0,0,1);
	box-shadow: 0px 0px 50px 10px rgba(0,0,0,1);
}
.f_notesInput {
   grid-area: fnotesInput;
   display: flex;                
}
.f_privateInfo {
   grid-area: fprivateInfo;
   display: inline-flex; 
   flex-direction: column;
   justify-content: space-around;  
   border: 1px solid rgb(84, 55, 165);              
}
.f_passportInfo {
   grid-area: fpassportInfo;
   display: inline-flex; 
   flex-direction: column;
   justify-content: space-around;   
}
.f_contactInfo {
   grid-area: contactInfo;
   display: inline-flex;
   flex-direction: column;
   justify-content: space-around;
}
.f_buttonsInput {
   grid-area: fbuttonsInput;
   display: inline-flex;
   align-content: flex-start; 
   justify-content: flex-start; 
   align-items: flex-start;
} 
.f_NOTES {
   flex-grow: 1; 
}
.clientActions{
display: flex;
}
.newClbutForm {
margin-right: 1vw;
}

.y_clientForm {
   display: inline-grid; 
   border: 1px solid rgb(84, 55, 165);
   background: #a5b2b9;  
    grid-template-areas: 
	'yorganizationInfo yadressInfo ycontactInfo'
	'ydelegateInfo ybossInfo ynotesInput'	
   'ybuttonsInput ybuttonsInput ybuttonsInput';
   gap: 0px;
   height: 100%;
   border-radius: 5px;
	-webkit-box-shadow: 0px 0px 50px 10px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 50px 10px rgba(0,0,0,1);
	box-shadow: 0px 0px 50px 10px rgba(0,0,0,1);
}
.y_organizationInfo {
   grid-area: yorganizationInfo;
   display: inline-flex; 
   flex-direction: column;
   justify-content: space-around;
}
.y_contactInfo {
   grid-area: ycontactInfo;
   display: inline-flex; 
   flex-direction: column;
   justify-content: space-around; 
}
.y_adressInfo {
   grid-area: yadressInfo;
   display: inline-flex; 
   flex-direction: column;
   justify-content: space-around;
}
.y_delegateInfo {
      grid-area: ydelegateInfo;
      display: inline-flex; 
      flex-direction: column;
      justify-content: space-around;
}
.y_bossInfo {
   grid-area: ybossInfo;
   display: inline-flex; 
   flex-direction: column;
   justify-content: space-around;
}
.y_notesInput{
   grid-area: ynotesInput;
   display: flex;
}
.y_NOTES{
   flex-grow: 1;
}
.y_buttonsInput {
   grid-area: ybuttonsInput;
   display: inline-flex;
   align-content: flex-start; 
   justify-content: flex-start; 
   align-items: flex-start;   
}
.y_docInfo {
   display: inline-flex; 
   flex-direction: column;
   justify-content: space-around; 
} 
.y_ontDelInfo{
   display: inline-flex; 
   flex-direction: column;
   justify-content: space-around;
   flex: 1; 
}

.tabs__btn {
   padding: 0.5rem 0.75rem;
   text-decoration: none;
   color: black;
   text-align: center;
   flex-shrink: 0;
   flex-grow: 1;
   border: 1px solid transparent;
   cursor: pointer;
}
.tabs__btn:hover{
   background: #6daa8c;
}

.btn-delCl{
   text-indent:-9999px;
   background: transparent url(../img/delCl.png) no-repeat center top;
   width:  33px;  
   height: 33px; 
   margin: 0;
   padding:0;
   border: 0;
   cursor:pointer;
}
.btn-editCl{
   text-indent:-9999px;
   background: transparent url(../img/editCl.png) no-repeat center top;
   width:  33px;  
   height: 33px; 
   margin: 0;
   padding:0;
   border: 0;
   cursor:pointer;
}

input#searchClInp {
	height:22px; 
	line-height:22px; 
	border:1px solid #666;
}
input#searchClBut {
	text-indent:-9999px;
	line-height:0;
	border:0;
	background:url(../img/findCl.png);
	height:22px;
	width:22px;
	cursor:pointer;
}
.main_content{    
   margin: 0;
   height: 87vh;      
} 

.actions_cont{
   display: flex;
   flex-direction: column;
}

.clients-actions{
   margin: 1%;
}
.contClientsSelectButs{
   margin: 1%;
}
.searchCl{
   margin: 1%;
}

.hr_before-view {    
   margin: 20px 0;
   padding: 0;
   height: 10px;
   border: none;
   border-top: 1px solid #333;
   box-shadow: 0 10px 10px -10px #8c8b8b inset;
}